<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../lib/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<div>
    <h1>esta pantalla la debe desarrollar Luis</h1>
    <div class="list-menu">
                <div class="menu">
                    <div class="card" >
                        <img src="../assets/img/papas.jpg" class="card-img-top img-menu"
                            alt="Lo sentimos, no se pudo cargar la imagen">
                        <div class="card-body card-body-menu">
                            <p class="card-text">
                                <span class="title-card-body">Papas a la francesa</span><br>
                                <p class="descrip-card-body">300g de papas a la francesa as as as adsa asdasd asdas asd as asd </p>
                            </p>
                            <div class="d-flex justify-content-end">
                                <i class="bi bi-pencil-square  me-2" width="20" height="20"></i>
                                <i class="bi bi-trash-fill" width="20" height="20"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
</div>
</html>