
.div-principal-estado{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    /* border: 1px solid black;
    padding: 10px; */
}

.estado-pedido{
    width: 90%;
    height: 105px;
    border-radius: 5px;
    border: 1px solid #F97316;
}

.estado-pedido{
    padding: 5px;
}