.div-principal-factura{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.div-secundario-factura{
    width: 40%;
    height: 70vh;
    border-radius: 5px;
    border: 1px solid darkgray;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    grid-template-areas: 
    "logo-factura"
    "info-basic-pedido"
    "info-items-pedido"
    "total-pedido"
    "frase";
    padding: 10px;
}
.logo-fac{
    width: 100px;
    height: 100px;
}
.logo-factura{
    grid-area: logo-factura;
    display: flex;
    justify-content: center;
    border-bottom: 2px dotted darkgray;
}
.info-basic-pedido{
    grid-area: info-basic-pedido;
    border-bottom: 2px dotted darkgray;
    display: flex;
    justify-content: center;
    text-align: center;
}
.info-items-pedido{
    margin-top: 5px;
    border-top: 2px dotted darkgray;
    grid-area: info-items-pedido;
}
.total-pedido{
    border-top: 2px dotted darkgray;
    grid-area: total-pedido;
    display: flex;
    justify-content: space-between;
}
.frase{
    grid-area: frase;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 845px) {
    .div-secundario-factura{
        width: 60%;
    }
}

@media (max-width: 500px) {
    .div-secundario-factura{
        width: 80%;
    }
}