
.div-principal-login{
    width: 500px;
    height: 455px;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.content main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 90%;
    display: flex;
    flex-direction:column;
}

.form .btn-container {
    margin-top: auto;
}